{
    "extends": [
      "plugin:prettier/recommended"
    ],
    "parser": "@babel/eslint-parser",
    "plugins": ["prettier"],
    "parserOptions": {
      "requireConfigFile": false,
      "babelOptions": {
        "presets": ["@babel/preset-react"],
      },
    },
    "rules": {
      "prettier/prettier": "error"
    }
  }