.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.stickyBtm {
  /* https://www.google.com/search?q=react-bootstrap+make+col+stick+to+bottom&oq=react-bootstrap+make+col+stick+to+bottom&aqs=chrome..69i57j33i22i29i30.12218j0j7&sourceid=chrome&ie=UTF-8 */
  position: absolute;
  bottom: 1em;
  right: 1em;
  opacity: 0.5;
}
.stickyBtm:hover {
  opacity: 1;
}
.questionDescription {
  text-align: left;
  /* margin-top: 3em; */
}
.header {
  margin-top: 2em;
}
.bg {
  /* flex: 1; */
  /* resize: cover; */
  background-image: url(./images/lightbulbBackground.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}
/* .appHeader {
  background-color: white;
  opacity: 0.25;
} */
.codeEditor {
  text-align: left;
}
